<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" >
	    
    <servlet>
        <servlet-name>AutoComplete Servlet</servlet-name>
        <servlet-class>org.primefaces.primeui.servlet.AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoComplete Servlet</servlet-name>
        <url-pattern>/autocomplete/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TabContent Servlet</servlet-name>
        <servlet-class>org.primefaces.primeui.servlet.TabContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TabContent Servlet</servlet-name>
        <url-pattern>/tabcontent/*</url-pattern>
    </servlet-mapping>
    
</web-app>
