.pui-inputfield {
    margin: 0;
    outline: medium none;
    padding: 4px;
    font-weight: normal;
}

.ui-widget-header .pui-inputfield,
.ui-widget-content .pui-inputfield {
    font-weight: normal;
}

.pui-inputtextarea-resizable {
    overflow: hidden;
    resize:none;
}

.pui-selectonelistbox, 
.pui-selectmanymenu,
.pui-multiselectlistbox-listcontainer {
    padding: 2px;
    width: 150px;
}

.pui-selectonelistbox .pui-selectlistbox-listcontainer, 
.pui-selectmanymenu .pui-selectlistbox-listcontainer,
.pui-multiselectlistbox-listcontainer {
    overflow:auto;
}

.pui-selectonelistbox.pui-state-disabled .pui-selectlistbox-listcontainer, 
.pui-selectmanymenu.pui-state-disabled .pui-selectlistbox-listcontainer {
    overflow:hidden;
}

.pui-selectonelistbox .pui-selectlistbox-list,
.pui-selectmanymenu .pui-selectlistbox-list,
.pui-multiselectlistbox .pui-multiselectlistbox-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.pui-selectonelistbox .pui-selectlistbox-item,
.pui-selectmanymenu .pui-selectlistbox-item,
.pui-multiselectlistbox .pui-multiselectlistbox-item {
    margin: 2px;
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
}

.pui-selectonelistbox table.pui-selectlistbox-list,
.pui-selectmanymenu table.pui-selectlistbox-list {
    border-collapse:collapse;
    width:100%;
}

.pui-selectlistbox-filter.pui-inputfield {
    padding-right: 12%;
    padding-left: 2%;
    width: 85%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pui-selectlistbox-filter-container {
    position: relative;
    margin: 0.1em 0 0.1em 0;
    padding: 0;
}

.pui-selectlistbox-filter-container .pui-icon {
    position: absolute;
    top: 5px;
    right: 2px;
}

.pui-multiselectlistbox .pui-multiselectlistbox-listcontainer {
    float: left;
    margin-right: 4px;
}

.pui-multiselectlistbox .pui-multiselectlistbox-item {
    white-space: nowrap;
}

.pui-multiselectlistbox.pui-state-disabled .pui-multiselectlistbox-item {
    cursor: default;
}

.pui-multiselectlistbox .pui-multiselectlistbox-header {
    text-align: center;
    padding: 2px 10px;
    border-bottom: 0px none;
}