<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" >
	        
    <servlet>
        <servlet-name>TabContent Servlet</servlet-name>
        <servlet-class>org.primefaces.primeui.servlet.TabContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TabContent Servlet</servlet-name>
        <url-pattern>/tabcontent/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>org.primefaces.primeui.service</param-value>
		</init-param>
        <init-param>
		     <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
		     <param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
    
</web-app>
