.ui-widget {
    font-size: 80%;
}

body {
    margin:0;
    padding:0;
}

#header {
    padding: 4px 0px;
    height: 75px;
    position: relative;
}

#header-text {
    position: absolute;
    top:30px;
    right:30px;
    font-size: 24px;
    font-family: "Trebuchet MS","Times New Roman",Times,serif
}

#logo {
    text-align: left;
}

#logo img{
    width: 380px;
}

#page {
	padding: 10px 0px;
	background: #FFFFFF;
}

/* Content */
#content {
	width: 70%;
    float:left;
    padding-left:20px;
}

#sidebar {
	float: left;
	width: 25%;
	padding: 2px 10px 0px 10px;
	margin-left: -1px;
    overflow: hidden;
    height:600px;
    -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
}

/* Footer */
#footer {
	height: 70px;
	margin: 0 auto;
	padding: 0 20px;
    font-size: 14px;
}

#footer p {
	margin: 0;
	padding: 25px 0 0 0;
	text-align: center;
}

.title {
    padding: 4px 10px;
    margin-bottom: 5px;
    border-bottom:1px solid lightgrey;
    margin-top: 10px;
}

.title-docs {
    padding: 4px 10px;
    margin-top: 10px;
}

.widget-link {
    display: block;
    text-decoration: none;
    padding: 4px 10px;
    margin-bottom: 1px;
}

.ratingTitle {
    width: 200px;
    margin-top: 40px;
}

.spinnerTitle {
    width: 200px;
}

.inputtextareaTitle {
    width: 400px;
}

a,
a:visited,
a:active{
    text-decoration: none;
}

.doc-table {
    border-collapse: collapse;
    width: 100%;
}

.doc-table th,
.doc-table td {
    padding: 4px 10px;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
}