.ui-multiselectlistbox-listcontainer {
    padding: 2px;
    width: 150px;
}

.ui-multiselectlistbox-listcontainer {
    overflow:auto;
}

.ui-multiselectlistbox .ui-multiselectlistbox-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.ui-multiselectlistbox .ui-multiselectlistbox-item {
    margin: 2px;
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
}

.ui-multiselectlistbox .ui-multiselectlistbox-listcontainer {
    float: left;
    margin-right: 4px;
}

.ui-multiselectlistbox .ui-multiselectlistbox-item {
    white-space: nowrap;
}

.ui-multiselectlistbox.ui-state-disabled .ui-multiselectlistbox-item {
    cursor: default;
}

.ui-multiselectlistbox .ui-multiselectlistbox-header {
    text-align: center;
    padding: 2px 10px;
    border-bottom: 0px none;
}