.ui-multiselectlistbox-listcontainer {
    padding: 0.125em;
    width: 10em;
}

.ui-multiselectlistbox-listcontainer {
    overflow:auto;
}

.ui-multiselectlistbox .ui-multiselectlistbox-list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
}

.ui-multiselectlistbox .ui-multiselectlistbox-item {
    margin: 0.125em;
    border: 0 none;
    cursor: pointer;
    font-weight: normal;
}

.ui-multiselectlistbox .ui-multiselectlistbox-listcontainer {
    float: left;
    margin-right: 0.25em;
}

.ui-multiselectlistbox .ui-multiselectlistbox-item {
    white-space: nowrap;
}

.ui-multiselectlistbox.ui-state-disabled .ui-multiselectlistbox-item {
    cursor: default;
}

.ui-multiselectlistbox .ui-multiselectlistbox-header {
    text-align: center;
    padding: 0.125em 0.625em;
    border-bottom: 0 none;
}