.ui-widget * {
    box-sizing: border-box;
}

.ui-shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.ui-unselectable-text {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

.ui-overflow-hidden {
    overflow: hidden;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #898989;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #898989;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #898989;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #898989;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #898989;
}
.ui-placeholder {
   color: #898989;
}

@-webkit-keyframes ui-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes ui-fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}