/*
 * PrimeUI Core
 */
.ui-shadow {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3); 
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3); 
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}

.ui-unselectable-text {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.ui-scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}