/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 3, 2015, 3:46:01 PM
    Author     : Mrtcndkn
*/
.pui-selectonebutton{
    display: inline-block;
    padding:1px;
}
            
.pui-selectonebutton.ui-state-error{
    padding:0px;
}

.pui-selectonebutton .ui-button.ui-state-focus{
    outline: none;
}
.pui-button .pui-button-text { 
    display: block; 
    line-height: normal;
}

.pui-button-text-only .pui-button-text { 
    padding: .3em 1em; 
}

.pui-button-icon-only .pui-button-text { 
    padding: .3em; 
    text-indent: -9999999px; 
}

.pui-button-text-icon-left .pui-button-text { 
    padding: .3em 1em .3em 2.1em; 
}

.pui-button-text-icon-right .pui-button-text { 
    padding: .3em 2.1em .3em 1em; 
}
